In [2]:
import pylab as plt

In [3]:
plt.style.use(style = 'ggplot')

In [4]:
plt.rcParams['figure.figsize'] = (10,8)

In [5]:
import pandas as pd

In [10]:
data = pd.read_csv('data1.csv')

In [11]:
data

   PersonID  Age  LikesGardening  PlaysVideoGames  LikesHats
0         1   13           False             True       True
1         2   14           False             True      False
2         3   15           False             True      False
3         4   25            True             True       True
4         5   35           False             True       True
5         6   49            True            False      False
6         7   68            True             True       True
7         8   71            True            False      False
8         9   73            True            False       True